
QWidget#App {
    background-color: #181818;
    color: white;
}
QTreeWidget {
    background-color: #1f1f1f;
    color: white;
}
QLineEdit, QLabel {
    margin: 2.5ex;
    font-size: 18px;
}
QLabel {
    color: white;
}
QPushButton {
    font-size: 16px;
}